.access {
  margin: 10px 0;
}

.access a {
  text-decoration: none;
}

.access button {
  display: block;
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  transition: .3s;
  background-color: white;
  border-radius: 2px;
  color: #333;
}

.access button:hover {
  color: white;
  background-color: black;
}